.ol-text-button {
  border: 0;
}

.ol-control.ol-bar .ol-control.ol-text-button {
  border: 0;

  & > div {
    padding: 0;
    color: unset;
    font: unset;
    font-size: 1rem;

    &:not(:disabled):hover {
      color: unset;
    }

    &:not(:disabled):active {
      color: unset;
    }
  }
}

.gpf-simple-menu {
  padding: 0 !important;
}
.gpf-simple-menu button {
  font-weight: normal;
  margin: 0;
}
