@use '../mixins.scss' as mx;

.fr-icon-ign-add-data:after, .fr-icon-ign-add-data:before {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M18%2014L17.999%2017H21V19H17.999L18%2022H16L15.999%2019H13V17H15.999L16%2014H18ZM11%2017V19H3V17H11ZM21%2010V12H3V10H21ZM21%203V5H3V3H21Z'%20fill='%23000091'/%3e%3c/svg%3e");
    mask-image: url("data:image/svg+xml,%3csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M18%2014L17.999%2017H21V19H17.999L18%2022H16L15.999%2019H13V17H15.999L16%2014H18ZM11%2017V19H3V17H11ZM21%2010V12H3V10H21ZM21%203V5H3V3H21Z'%20fill='%23000091'/%3e%3c/svg%3e");
}

.ol-control.ol-bar--separator.ol-bar.map-handle {
  display: flex;
  top: .5rem;
  left: .5rem;
  width: unset;
  padding: .25rem;
  flex-direction: row;
  align-items: center;
  transform: unset;
  background-color: var(--background-default-grey);

  .ol-text-button {
    border: 0; 
    display: none;
    
    &.map-title-bar {
      display: block;
      width: calc(100svw - 4rem - 2px);
    }

    @include mx.respond-from('sm') {
      display: block;

      &.map-title-bar {
        display: none;
      }
    }

    & > div,
    & > div:focus,
    & > div:hover {
      color: var(--text-disabled-grey);
      background-color: transparent;
      border: 0;
    }
  }

  .ol-toggle {
    padding: 0;
    margin: 0;

    button {
      color: var(--text-action-high-blue-france);
      /* background-color: var(--background-open-blue-france); */
      background-color: var(--background-default-grey);
      width: 2.5rem;
      margin: 0;
    }
    &.ol-active button,
    button:hover {
      background-color: var(--background-contrast-grey);
    }
  } 

  .map-file-actions {
    width: 330px;
    border-radius: .25rem;
    top: calc(100% + .4rem);
    left: -.25rem;
    background-color: var(--background-default-grey);
    border: 0;
    box-shadow: none;

    &:before {
      display: none;
    }
  }

  .ol-option-bar {
    padding: 1rem;
    max-width: calc(100vw - 1rem - 2px);
    max-width: calc(100svw - 1rem - 2px);

    div:hover,
    div {
      color: var(--text-disabled-grey);
      background-color: unset;
      margin: 0;
      padding: 0;
    }
  }

  .ol-bar .ol-bar--column:hover,
  .ol-bar .ol-bar--column {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-radius: 0;
    padding: .5rem 0;
    border: 0;
    
    @include mx.respond-from('sm') {
      border-top: 1px solid var(--border-default-grey);
    }

    button {
      color: var(--text-default-grey);
      background-color: transparent;
      font-weight: normal;
      padding: .5rem 1rem;
      width: 100%;
      height: unset;
      text-align: left;

      &:hover {
        background-color: var(--background-contrast-grey);
      }
    }
  }
}