@use './mixins.scss' as mx;

[data-role="storymap"] {

  .ol-permalink {
    display: none!important;
  }

  .position-container-bottom-right {
    padding: 0 6px;
  }

  div[id^="GPsearchEngine-"] {
    left: 50%;
    transform: translateX(-50%);
    top: 52px;
  
    @include mx.respond-from('sm') {
      top: 8px;
    }

    .gpf-widget {
      width: 100%;
      transform: none;
    }

    .GPsearchInputSubmit {
      background-color: var(--text-action-high-blue-france);
      &:hover,
      &:focus {
        background-color: var(--text-action-high-blue-france);
      }
      &:before {
        background-color: var(--text-inverted-blue-france);
      }
    }
  }

  div[id^="GPlayerSwitcher-"] {
    top: 104px;

    & > button {
      width: 3rem;
      height: 3rem;
    }

    @include mx.respond-from('sm') {
      top: 8px
    }
  }

  div[id^='GPlayerSwitcher-']:after {
    display: none;
  }
  
  button.gpf-btn--primary {
    background-color: var(--text-action-high-blue-france)!important;

  }
  button.gpf-btn--primary[aria-pressed=true] {
    /* background-color: var(--hover-tint)!important; */
  }
  
  div:not(.position)>div[id^=GPlayerSwitcher-]>dialog[id^=GPlayersList] {
    margin-top: -8px;
    transform: translateX(calc(-100% + 46px));

    @include mx.respond-from('sm') {
      margin-top: -3rem;
      transform: translateX(calc(-100% - 1.25rem));
    }
  }

}